* {
  padding: 0;
  margin: 0; }

/* Poligrafi */
.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  position: relative; }

a {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-decoration: none; }

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: Lobster;
  src: url(../fonts/Lobster-Regular.ttf);
  font-weight: 400;
  font-style: normal; }

.row:after, .row:before {
  content: '';
  display: table;
  clear: both; }

.column, .columns {
  float: left;
  padding-left: 15px;
  padding-right: 15px; }

.row.column, .row.columns {
  float: none; }

h1 {
  font-size: 60px;
  font-family: "Lobster";
  color: #0054a4;
  text-align: left; }

h2 {
  font-size: 40px;
  font-family: "Lobster";
  color: #232323;
  text-align: center; }

h4 {
  font-size: 22px;
  font-family: "Lobster";
  color: white;
  padding-bottom: 20px; }

h5 {
  font-size: 22px;
  font-family: "Lobster";
  color: white; }

/* Header  */
.top {
  position: relative;
  margin: 0 auto; }

.logo {
  position: absolute;
  width: 254px;
  height: 170px;
  top: 0;
  left: 30px;
  z-index: 2; }

.icons {
  background-color: #0054a4;
  text-align: right;
  color: white; }

.icons a {
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  color: white; }

.icons a:hover {
  color: red; }

/* Menu */
.menu {
  padding-top: 10px;
  text-align: right;
  display: flex;
  justify-content: flex-end; }

.menuToggle {
  padding-top: 15px;
  font-size: 30px;
  display: none;
  cursor: pointer; }

.bigmenu a {
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: "OpenSans";
  color: black;
  text-align: right; }

.menu ul li {
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
  list-style: none; }

.bigmenu li:hover {
  background: #d7d7d7;
  color: #0054a4;
  border: 1px solid #0054a4;
  border-radius: 30px;
  margin-top: 14px;
  margin-bottom: 14px; }

.menu span a {
  font-size: 14px;
  font-family: "Times New Roman";
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  list-style: none;
  padding: 5px 15px;
  background: #f15b4f;
  border-radius: 30px;
  margin-left: 20px; }

.menu span a:hover {
  background: #0054a4; }

.fa-angle-right {
  padding-left: 15px; }

/* Baner */
.banner {
  padding-top: 120px;
  padding-bottom: 250px;
  background-image: url(../img/header.png);
  background-size: cover;
  background-position: 50% 50%;
  position: relative; }

.banner-text {
  font-size: 18px;
  font-family: "Times New Roman";
  color: black;
  line-height: 1.667;
  text-align: left; }

.banner-text span a {
  font-size: 15px;
  font-family: "GalanoGrotesqueAlt";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 35px;
  border-radius: 25px;
  text-decoration: none;
  display: inline-block; }

.button1 a {
  background-color: #f15b4f; }

.button2 a {
  background-color: #0054a4; }

.button1 a:hover {
  background-color: #0054a4; }

.button2 a:hover {
  background-color: #f15b4f; }

.topInf {
  position: absolute;
  bottom: -85px;
  left: 50%;
  margin-left: -500px;
  display: flex;
  justify-content: center; }

.topInfo__item {
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  font-size: 14px;
  font-family: "OpenSans";
  color: white;
  height: 180px;
  padding-top: 15px; }
  .topInfo__item__item p {
    padding-left: 5px;
    padding-right: 5px; }
  .topInfo__item-green {
    background-color: #6fbd2a; }
  .topInfo__item-green .fa-heart {
    font-size: 30px;
    background-color: #ffffff;
    color: #6fbd2a;
    padding: 10px;
    border-radius: 35px;
    margin-right: 10px; }
  .topInfo__item-red {
    background-color: #f15b4f; }
  .topInfo__item-red .fa-male {
    font-size: 30px;
    background-color: #ffffff;
    color: #f15b4f;
    padding: 10px 17px;
    border-radius: 35px;
    margin-right: 10px; }
  .topInfo__item-blue {
    background-color: #0054a4; }
  .topInfo__item-blue .fa-star {
    font-size: 30px;
    background-color: #ffffff;
    color: #0054a4;
    padding: 10px;
    border-radius: 35px;
    margin-right: 10px; }

.topInfo__item .fa-angle-right {
  color: white;
  font-size: 30px; }

/* content */
/* About */
.about {
  padding-top: 125px; }

.text-top p {
  font-size: 16px;
  font-family: "OpenSans";
  color: black;
  text-align: center;
  margin-bottom: 50px;
  opacity: 0.502; }

.aboutElement {
  padding-bottom: 50px; }
  .aboutElement__item {
    font-size: 20px;
    font-family: "Lobster";
    color: #a8a8a8;
    line-height: 2.045;
    text-align: center; }
  .aboutElement__item img {
    padding-bottom: 40px; }

.blue-text {
  font-size: 40px;
  font-family: "Lobster";
  color: #0054a4;
  text-align: center; }

/* Calendar */
.calendar {
  background: #f1f1f1;
  padding-top: 50px;
  padding-bottom: 50px; }

.topSubtitle {
  display: flex;
  justify-content: space-between; }

.seeAll {
  font-size: 15px;
  font-family: "Times New Roman";
  color: #232323;
  text-transform: uppercase;
  width: 140px; }

.seeAll p {
  border-bottom: 2px solid #0054a4; }

.see {
  width: 140px; }

/* Upcoming */
.upcoming {
  padding-left: 10px;
  padding-right: 10px; }
  .upcoming__img {
    position: relative;
    text-align: center; }
  .upcoming__minlogo {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: -30px;
    left: 50%;
    margin-left: -30px; }
  .upcoming__title {
    padding-top: 50px;
    background-color: #ffffff;
    font-size: 24px;
    font-family: "Lobster";
    color: #010101;
    line-height: 1.25;
    text-align: center;
    padding-bottom: 20px; }
  .upcoming__text {
    background-color: #ffffff;
    font-size: 16px;
    font-family: "Times New Roman";
    color: black;
    line-height: 1.5;
    text-align: center;
    opacity: 0.502; }
  .upcoming__date {
    background-color: #ffffff;
    font-size: 15px;
    font-family: "Times New Roman";
    color: #464646;
    line-height: 1.733;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px; }
  .upcoming__date span {
    background-color: #ffffff;
    color: #0054a4; }
  .upcoming__btn {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    font-family: "Times New Roman";
    color: black;
    text-transform: uppercase;
    line-height: 1.733;
    text-align: center;
    background-color: white; }
    .upcoming__btn-red a {
      text-decoration: none;
      background-color: #f15b4f;
      color: white;
      padding: 20px 25px; }
    .upcoming__btn-red a:hover {
      background-color: blueviolet; }
    .upcoming__btn-white a {
      text-decoration: none;
      background-color: white;
      color: #a3a3a3;
      padding: 20px 25px;
      border-top: 1px solid #9F9F9F; }
    .upcoming__btn-white a:hover {
      background-color: blueviolet; }

/* Video */
.videos {
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px; }

.video {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  font-family: "Times New Roman";
  color: #010101;
  opacity: 0.702;
  text-align: center; }

.video p {
  text-align: left; }

iframe {
  width: 450px;
  height: 270px;
  margin: 0 auto;
  text-align: center; }

/* News */
.news {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f1f1f1; }

.new {
  padding-left: 10px;
  padding-right: 10px; }
  .new__img {
    text-align: center; }
  .new__btn {
    margin-top: 20px;
    text-transform: uppercase;
    padding: 5px;
    font-size: 13px;
    font-family: "GalanoGrotesque";
    color: white;
    font-weight: bold; }
    .new__btn__btn a {
      text-decoration: none;
      color: white;
      border-radius: 10px;
      padding: 5px 10px; }
    .new__btn-green a {
      background-color: #6fbd2a;
      text-decoration: none;
      color: white;
      border-radius: 10px;
      padding: 10px 15px; }
    .new__btn-red a {
      background-color: #f15b4f;
      text-decoration: none;
      color: white;
      border-radius: 10px;
      padding: 10px 15px; }
    .new__btn-blue a {
      background-color: #0054a4;
      text-decoration: none;
      color: white;
      border-radius: 10px;
      padding: 10px 15px; }
  .new__title {
    font-size: 28px;
    font-family: "Lobster";
    color: #232323;
    text-align: left;
    padding-bottom: 20px; }
  .new__text {
    font-size: 16px;
    font-family: "Times New Roman";
    color: #232323;
    line-height: 1.375;
    text-align: left;
    opacity: 0.502;
    padding-bottom: 20px;
    border-bottom: 1px solid #9F9F9F; }
  .new__see {
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 17px;
    font-family: "Times New Roman";
    color: #a7a7a7;
    line-height: 1.882; }

/* Volunter */
.volunter {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../img/Layer57.jpg);
  background-size: cover;
  background-position: 50% 50%; }

.volunterInfo {
  background-color: white;
  width: 430px;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .volunterInfo__subtitle {
    font-size: 32px;
    font-family: "Lobster";
    color: black;
    text-align: center; }
  .volunterInfo__title {
    font-size: 60px;
    font-family: "Lobster";
    color: black;
    text-align: center; }
  .volunterInfo__text {
    font-size: 18px;
    font-family: "Times New Roman";
    color: #232323;
    text-align: center;
    opacity: 0.502; }
  .volunterInfo__btn {
    font-size: 18px;
    font-family: "Times New Roman";
    color: #0054a4;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 20px;
    border: 2px solid #0054a4;
    border-radius: 20px;
    margin-top: 20px; }
  .volunterInfo__btn a {
    text-decoration: none; }
  .volunterInfo__btn:hover {
    background-color: #6fbd2a; }

/* Slider */
.b-carousel {
  margin: 50px auto; }

.h-carousel-wrapper {
  position: relative;
  width: 660px;
  overflow: hidden;
  margin: 0 auto; }

.h-carousel-items {
  width: 10000px;
  position: relative; }

.b-carousel-block {
  float: left;
  width: 222px;
  padding: 5px 6px; }

.a-carousel-image-link {
  display: block;
  width: 206px;
  height: 150px;
  overflow: hidden;
  border: 2px solid #fff; }

.b-carousel-button-left, .b-carousel-button-right {
  color: #c6c5c5;
  font-size: 30px;
  border: 2px solid #c6c5c5;
  border-radius: 30px;
  position: relative;
  top: 30px;
  cursor: pointer;
  text-align: center; }

.fa-angle-left, .fa-angle-right {
  padding: 10px 20px; }

.b-carousel-button-right:hover {
  color: #0054a4; }

.b-carousel-button-left:hover {
  color: #0054a4; }

.b-carousel-button-left {
  float: left;
  margin-right: 25px; }

.b-carousel-button-right {
  float: right;
  margin-left: 25px; }

/* footer */
.footerInfo {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #004B83;
  background-image: url(../img/footer.png);
  background-size: cover;
  background-position: 50% 50%; }

.social-footer {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 22px;
  padding: 20px; }

.social-footer a {
  text-decoration: none;
  color: white; }

.social-footer a:hover {
  color: red; }

.footer-menu {
  color: white;
  font-size: 13px;
  font-family: "OpenSans";
  color: white; }

.footer-menu a {
  text-decoration: none;
  color: white; }

.footer-menu a:hover {
  color: red; }

.footer-menu ul li {
  list-style: none;
  display: block; }

.Contact {
  font-size: 15px;
  font-family: "OpenSans";
  color: white;
  text-align: left; }

.footerBtn {
  font-size: 15.504px;
  font-family: "GalanoGrotesque";
  color: white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-align: left; }

.footerBtn a {
  text-decoration: none;
  color: white;
  background-color: #f15b4f;
  padding: 10px 20px; }

.footerBtn a:hover {
  background-color: blue; }

.line {
  margin-bottom: 20px; }

.copyright {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 13px;
  font-family: "OpenSans";
  color: white;
  background-color: #003b7b;
  text-align: center; }

/* responsive */
@media (max-width: 1023px) {
  .social-footer {
    justify-content: space-around;
    padding-left: 60px;
    padding-right: 60px; }
  .mLogo {
    text-align: center; } }

@media (max-width: 1000px) {
  .topInfo__item {
    height: 210px; } }

@media (max-width: 990px) {
  .menuToggle {
    display: block; }
  .bigmenu {
    display: none;
    position: fixed;
    right: 100px;
    top: 30px;
    z-index: 10;
    width: 100px; }
  .bigmenu li {
    float: none; }
  .bigmenu {
    background-color: white; }
  .menu ul li {
    z-index: 100; }
  .upcoming__btn {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; }
  .upcoming__btn-red {
    margin-bottom: 35px; }
  .upcoming__btn-white {
    background-color: white; }
  .upcoming__title {
    padding-right: 7px;
    padding-left: 7px; }
  .upcoming__text {
    padding-right: 7px;
    padding-left: 7px; }
  .upcoming {
    background-color: white;
    padding-top: 15px; } }

@media (max-width: 960px) {
  .topInf {
    margin-left: -450px; }
  .topInfo__item {
    margin-left: 5px;
    margin-right: 5px;
    height: 200px; } }

@media (max-width: 950px) {
  iframe {
    width: 350px;
    height: 210px; } }

@media (max-width: 860px) {
  .topInf {
    margin-left: -400px; }
  .topInfo__item {
    margin-left: 2px;
    margin-right: 2px;
    height: 240px; }
  .h-carousel-wrapper {
    width: 440px; } }

@media (max-width: 800px) {
  .topInf {
    display: flex;
    flex-direction: column;
    bottom: -300px;
    margin-left: -150px; }
  .topInfo {
    padding-bottom: 10px; }
  .topInfo__item {
    height: 170px;
    width: 300px;
    padding-bottom: 40px; }
  .about {
    padding-top: 320px; } }

@media (max-width: 710px) {
  iframe {
    width: 300px;
    height: 180px; }
  .video {
    text-align: center; }
  .bigmenu {
    display: none;
    position: fixed;
    right: 0px;
    top: 30px;
    z-index: 10;
    width: 100px; } }

@media (max-width: 640px) {
  .social-footer {
    padding-left: 80px;
    padding-right: 80px; } }

@media (max-width: 630px) {
  .b-carousel-button-left {
    margin-right: 5px; }
  .b-carousel-button-right {
    margin-left: 5px; }
  .menu span a {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 7px 7px;
    margin-left: 5px; } }

@media (max-width: 590px) {
  .h-carousel-wrapper {
    width: 220px; } }

@media (max-width: 500px) {
  .logo {
    position: absolute;
    width: 150px;
    height: 108px;
    left: 0px; }
  h1 {
    font-size: 50px; } }

@media (max-width: 450px) {
  .volunterInfo {
    width: 260px;
    height: auto;
    padding-bottom: 20px; }
  .b-carousel-button-left, .b-carousel-button-right {
    font-size: 20px;
    border-radius: 20px;
    top: 40px; }
  .fa-angle-left, .fa-angle-right {
    padding: 5px 15px; }
  .banner-text p {
    margin-bottom: 10px; } }

@media (max-width: 350px) {
  .menu span {
    width: 130px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 1px;
    font-size: 10px; } }
